.pagination {
   padding: 2px;
   margin: 2px;
}
.pagination a {
   padding: 4px 6px 3px 6px;
   margin: 2px;
   border: 1px solid #963;
   text-decoration: none;
   color: #963;
}
.pagination a:hover, .pagination a:active {
  	border: 2px solid #C60;
	margin: 1px;
   	color: #C60;
}
.pagination span.current {
   padding: 4px 6px 3px 6px;
   margin: 2px;
   border: 1px solid #999;
   font-weight: bold;
   color: #999;
}
.pagination span.disabled {
   padding: 4px 6px 3px 6px;
   margin: 2px;
   border: 1px solid #963;
   color: #999963;
}

