
<div class="image_full">
	<%= image_tag(@image.public_filename) %>
</div>

<p> <%= @image.description %> </p>

<% if admin %>
	<p>
		<%= link_to 'Edit', edit_image_path(@image) %> | 
		<%= link_to 'Back', images_path %>
	</p>
<% end %>
